body {
            background-image: url("https://jdagsfd.weebly.com/uploads/1/3/4/4/134490449/329510091.jpg");
            background-size: cover;
            font-family: 'Times New Roman', Times, serif;
            font-size: 30px;
        }

        .container {

            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        fieldset {
            padding: 50px;
            border: 1.5px solid rgb(7, 7, 7);
        }

        fieldset:hover {
            background-color: rgba(0, 0, 0, 0.3);
        }

        img {
            width: 40px;
            border-radius: 50px;
            margin-top: 20PX;
        }

        img:hover {
            width: 60px;

        }

        label {
            display: flex;
            justify-content: center;
            font-size: 25px;
            padding: 15px;
        }

        input {
            text-align: center;
            border-radius: 50px;
            width: 270px;
            height: 40px;
            font-size: 20px;
        }

        .botoes {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 30PX;

        }

        button {
            padding: 10px 20px;
            background-color: #4CAF50;
            color: white;
            border: none;
            cursor: pointer;
            border-radius: 10px;
        }

        button:hover {
            background-color: darkcyan;
        }

        a {
            display: flex;
            justify-content: center;
        }
