@charset "utf-8";
body{
    display: flex;
    justify-content:center;
}
.container{
    border: 1px solid rgb(0, 0, 0);
    height: 200px;
    width: 150px;
    padding: 2px;
    justify-content: space-between;
    border-radius: 10px;
    background-color: grey;
}
.input{
    height: 30px;
    width: 143px;
    border-radius: 10px;
    background-color: rgb(10, 107, 168);
    color: black;
    font-size: 20px;
    text-align: right;
    
}
button{
    height: 30px;
    width: 30px;
    margin-top:10px ;
    margin-left: 4;
    border-radius: 10px;
    background-color: rgb(70, 230, 129);
    font-weight: bold;   
}
/*  */